/* body {font-family: Arial;} */

.input-tab-content-row {
  height: 300px;
  box-sizing: border-box;
  border-radius: 0 8px 8px 8px;
  background-color: #528388;
}

.input-container-tab {
  overflow: hidden;
}

.input-container-tab button {
    background-color: #3e5153;
    float: left;
    border: 1px solid #3e5153;
    -moz-border-radius: 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
    outline: none;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.input-container-tab button:hover {
  background-color: #4f686b;
  border-color: #4f686b;
}

.input-container-tab button.active {
  background-color: #528388;
  border-color: #528388;
}

.input-container-tabcontent {
  padding: 0;
  height: 100%;
}

.inner-tabcontent-container {
  height: 100%;
}

.padded-container {
  padding: 16px;
}

