/* Style the tab */
.file-viewer-tab {
  float: left;
  box-sizing: border-box;
  border: 1px solid color-mix(in oklab, rgba(82, 131, 136, 1) 50%, white);
  border-radius: 0px 8px 0 0;
  background-color: color-mix(in oklab, rgba(82, 131, 136, 1) 75%, white);
  width: 35%;
  /* height: 250px; */
}

/* Style the buttons inside the tab */
.file-viewer-tab button {
  display: block;
  background-color: color-mix(in oklab, rgba(82, 131, 136, 1) 70%, white);
  width: 100%;
  border-width: 0px 0 1px 0;
  border-color: color-mix(in oklab, rgba(82, 131, 136, 1) 50%, white);
  text-align: left;
  cursor: pointer;
  border-radius: 0;
}

.file-viewer-tab button:first-of-type {
  border-radius: 0 8px 0 0;
}

/* Create an active/current "tab button" class */
.file-viewer-tab button.active {
  background-color: rgba(82, 131, 136, 1);
}

.file-viewer-tablinks {
  font-size: 14px;
  font-style: italic;
}

/* Style the tab content */
.file-viewer-tabcontent {
  float: left;
  /* padding: 0px 16px; */
  padding: 16px 16px 0 16px;
  width: 65%;
}

/* Clear floats after the tab */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.file-upload-wrapped-button {
  border-width: 3px;
  border-bottom: 1px;
  border-style: solid;
  font-style: normal;
}

.file-upload-wrapped-button:hover {
  background-color: color-mix(in oklab, rgba(82, 131, 136, 1) 90%, black);
}

.file-viewer-tab .file-upload-label {
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  width: 100%;
  display: inline-block;
}
