.sticky-footer {
    position: fixed; /* Fixes the footer to the viewport */
    bottom: 0; /* Aligns it to the bottom */
    left: 0;
    width: 100%; /* Ensures it spans the full width */
    box-sizing: border-box;
    box-shadow: 2px 2px red;
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(2px);
}
