/* Style the tab */
.file-viewer-tab {
  float: left;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0px 8px 0 0;
  background-color: #f1f1f1;
  width: 35%;
  /* height: 250px; */
}

/* Style the buttons inside the tab */
.file-viewer-tab button {
  display: block;
  background-color: inherit;
  color: black;
  /* padding: 22px 16px; */
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  /* font-size: 17px; */
}

/* Change background color of buttons on hover */
.file-viewer-tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.file-viewer-tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.file-viewer-tabcontent {
  float: left;
  /* padding: 0px 16px; */
  padding: 16px 16px 0 16px;

  h4 {
    /* TODO: handle styling better eventually - this is to line up perfectly with Input Subtitles textarea */
    margin-top: 4.91px;
  }
}

/* Clear floats after the tab */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}