#srtInputFile {
    display: none;
    /* could use display: none, but this is better for accessibility purposes */
    /* position: absolute;
    bottom: -300px; */
}

.file-upload-label {
    box-sizing: border-box;
    /* border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 8px; */
    cursor: pointer;
    padding: 0.6em 1.2em;
    font-size: 14px;
    width: 100%;
    text-align: center;
}