.copy-text-row {
    justify-content: flex-end;
}

.copy-text-button {
    position: absolute;
    margin: 10px 20px 0 0;
    filter: grayscale(100%);
    float: right;
    z-index: 999;
    cursor: pointer;
    transition: .3s;
}

.copy-text-hover {
    display: none;
    opacity: .5;
}

.copy-text-button:hover {
    .copy-text-hover {
        display: block;
    }
}

.copy-text-span {
    display: flex;
    align-items: center;
}

.copy-text-character {
    padding-left: 4px;
}

textarea.copy-text-area {
    position: relative;
    width: fit-content;
}