.copy-text-row {
    justify-content: flex-end;
}

.copy-text-button {
    position: absolute;
    margin: 10px 22px 0 0;
    filter: grayscale(100%);
    float: right;
    z-index: 999;
    cursor: pointer;
    transition: .3s;
    /* background-color: rgba(0,0,0,.1); */
    color: white;
    text-shadow: 2px 2px 15px rgba(0, 0, 0);
}

.copy-text-hover {
    display: none;
    color: #aaa;
}

.copy-text-button:hover {
    .copy-text-hover {
        display: block;
    }
}

.copy-text-span {
    display: flex;
    align-items: center;
}

.copy-text-character {
    padding-left: 4px;
}

textarea.copy-text-area {
    position: relative;
    width: 100%;
}