#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex-wrapper {
  display: flex; /* Makes this div a flex container */
  flex-direction: row; /* Aligns children horizontally (default) */
  justify-content: space-around; /* Distributes space around items along the main axis */
  /* align-items: center; /* Centers items along the cross axis (vertically in this case) */
}

.flex-column {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.flex-row {
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
}

.padded-column {
  padding: 0rem 2rem 0rem 2rem;
}

.padded-row {
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.spaced-between-row {
  justify-content: space-between;
}

.centered-column {
  justify-content: center;
}

.centered-row {
  justify-content: center;
  align-items: center;
}

.align-start-column {
  align-items: flex-start;
}

p {
  margin: 8px 0;
}

small {
  font-size: 11px;
}

input[type=number] {
   min-height: 20px; 
}

input[type=number][size="2"] {
   width: 3rem; 
}

input[type=number][size="3"] {
   width: 4rem; 
}

input[type=number][size="5"] {
   width: 5rem; 
}
