#root {
  /* max-width: 1280px; */
  width: 100vw;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.flex-row {
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
}

.padded-column {
  padding: 0rem 2rem 0rem 2rem;
}

.padded-row {
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.spaced-between-row {
  justify-content: space-between;
}

.centered-column {
  justify-content: center;
}

.centered-row {
  justify-content: center;
  align-items: center;
}

.align-start-column {
  align-items: flex-start;
  text-align: start;
}

h4 {
  margin: .5rem 0;
}

p {
  margin: 8px 0;
}

small {
  font-size: 11px;
}

input[type=number] {
   min-height: 20px; 
}

input[type=number][size="2"] {
   width: 3rem; 
}

input[type=number][size="3"] {
   width: 4rem; 
}

input[type=number][size="5"] {
   width: 5rem; 
}

.hidden {
    display: none;
}

.full-width {
  width: 100%;
}

.section-row {
  margin-bottom: 1.5rem;
}

#inputContainerColumn {
  width: 50%;
}

#controlsContainerColumn {
  width: 100%;
}

#outputContainerColumn {
  width: 50%;
}