body {font-family: Arial;}

/* Style the tab */
.input-container-tab {
  overflow: hidden;
  /* border: 1px solid #ccc;
  background-color: #f1f1f1; */
}

/* Style the buttons inside the tab */
.input-container-tab button {
    background-color: rgb(82, 82, 82);
    float: left;
    border: 1px solid rgb(82, 82, 82);
    -moz-border-radius: 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
    outline: none;
    cursor: pointer;
    color: white;
    /* padding: 14px 16px; */
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.input-container-tab button:hover {
  background-color: #4f686b;
  border-color: #4f686b;
}

/* Create an active/current tablink class */
.input-container-tab button.active {
  background-color: #528388;
  border-color: #528388;
}

/* Style the tab content */
.input-container-tabcontent {
  padding: 6px 12px;
  border-radius: 0 8px 8px 8px;
  background-color: #528388;
}